<div class="row mb-5">
  <div class="col-lg-8">
    <div class="card mt-3">
      <div class="card-header">
        <h4>Forma de Pagamento: {{registro.forma_pagamento?.toUpperCase()}}</h4>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="card mt-3">

      <div class="card-header">
        <h4>Endereço: {{registro.ClienteEndereco?.logradouro}}, {{registro.ClienteEndereco?.numero}}</h4>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="card mt-3">
      <div class="card-header">
        <h4>Produtos</h4>
      </div>

      <div class="card-body">
        <div class="produtos">
          <div class="produto" style="border-bottom: 1px solid #b1b1b1;" *ngFor="let item of registro.VendaItem">
            <div class="img-produto">
              <img style="width: 50px;" [src]="item.Produto.ProdutoAnexo[0].caminho">

              <div class="nome-produto">
                {{item.Produto.nome}} X {{item.quantidade}}
              </div>

            </div>



            <div class="qtd-produto">
              <div style="display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-start;">
                <p></p>
              </div>

              <div>
                {{item.Produto.valor * item.quantidade | currency : 'BRL'}}
              </div>
            </div>
          </div>

          <div class="carrinho-vazio" *ngIf="!registro.VendaItem?.length">
            Nenhum Produto no Carrinho
          </div>
        </div>

        <div class="total">
          <p style="text-align: end;">
            Total: {{registro.valor_total | currency : 'BRL'}}
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-4">
    <div class="card mt-5">
      <div class="card-header">
        <h4>Calculo do total</h4>
      </div>
      <div class="card-body">
        Carrinho: {{obterValorCarrinho() | currency : 'BRL'}}
        <br>
        Frete: {{+registro.valor_frete | currency : 'BRL' }}

        <hr>

        Total: {{((+registro.valor_total) + (+registro.valor_frete)) | currency : 'BRL'}}
      </div>
    </div>
  </div>

</div>