<header>
  <h1 id="titulo">Lista de Usuários</h1>
</header>

<main>
  <div class="produto">
    <h2>Produtos</h2>
  </div>
  <div class="card">
    <label for="procurar"></label>
    <input type="text" id="procurar" placeholder="Nome do Produto">
    <button id="button" type="button" onclick="Evento()">Procurar</button>
    <script>
      function Evento() {
        alert('evento funcionando')
      }
    </script>
  </div>
  <div class="tabela">
    <table border="1">
      <thead>
        <th>Nome</th>
        <th>Email</th>
        <th>Status</th>
        <th>Alterar</th>
      </thead>

      <tbody>
        <tr *ngFor="let user of usuarios">
          <td>{{user.nome}}</td>
          <td>{{user.email}}</td>
          <td>{{user.ativo}}</td>
          <td>
            <a [routerLink]="'/usuario-editar/' + user.id">
              alterar
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>