<header>
  <h1 id="titulo">Lista de Usuários</h1>
</header>

<main>
  <div class="produto">
    <h2>Produtos</h2>
  </div>
  <div class="card">
    <label for="procurar"></label>
    <input type="text" id="procurar" placeholder="Nome do Produto">
    <button id="button" type="button" onclick="Evento()">Procurar</button>
    <script>
      function Evento() {
        alert('evento funcionando')
      }
    </script>
  </div>
  <div class="tabela">
    <table border="1">
      <thead>
        <th>Nome</th>
        <th>Email</th>
        <th>Status</th>
        <th>Alterar</th>
        <th>Hab/Des</th>
      </thead>

      <body>
        <tr>
          <td>João</td>
          <td>joao.hotmail</td>
          <td>ativo</td>
          <td>
            <link rel="stylesheet" href="">Alterar
          </td>
          <td>desabilitado</td>
        </tr>
      </body>
    </table>
  </div>
</main>