<div class="row mb-5">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4">

      </div>

    </div>
  </div>

  <div class="col-lg-12" *ngIf="enderecosCliente.length">
    <!-- <div class="card">
      <div class="card-header">
        <h2>Endereços</h2>
      </div>

      <div class="card-body">
        <div *ngFor="let endCliente of enderecosCliente">
          <input type="radio" name="enderecoCliente" [(ngModel)]="endereco" [value]="endCliente">
          {{endCliente.logradouro}}
        </div>
      </div>
    </div> -->
  </div>

  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <h4>Forma de Pagamento</h4>
      </div>

      <div class="body">
        <p style="text-align: center;">{{carrinho.formaPagamento}}</p>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="card mt-3">

      <div class="card-header">
        <h4>Endereço</h4>
      </div>

      <div class="card-body">
        <p>{{carrinho.endereco.logradouro}}, {{carrinho.endereco.numero}}</p>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="card mt-5">
      <div class="card-header">
        <h4>Carrinho de Compras</h4>
      </div>

      <div class="card-body">
        <div class="produtos">
          <div class="produto" *ngFor="let item of carrinho.produtos">
            <div class="img-produto">
              <img style="width: 50px;" [src]="item.produto.ProdutoAnexo[0].caminho">

              <div class="nome-produto">
                {{item.produto.nome}}
              </div>

            </div>



            <div class="qtd-produto">
              <div style="display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-start;">
                <p></p>
              </div>

              <div>
                {{item.produto.valor * item.quantidade | currency : 'BRL'}}
              </div>
            </div>
          </div>

          <div class="carrinho-vazio" *ngIf="!carrinho.produtos.length">
            Nenhum Produto no Carrinho
          </div>
        </div>

        <div class="total">
          <p style="text-align: end;">
            Total: {{carrinho.total | currency : 'BRL'}}
          </p>
        </div>
      </div>

      <div class="card-footer">
        <a style="float: right;" class="btn btn-info" routerLink="/loja/forma-pagamento">voltar</a>

        <button style="float: right;" class="btn btn-primary" (click)="proseguir()">Finalizar</button>
      </div>
    </div>
  </div>

  <!-- <div class="col-lg-4">
    <div class="card mt-5">
      <div class="card-header">
        <h4>Frete</h4>
      </div>

      <div class="card-body">
        <p>
          {{carrinho.valorFrete | currency : 'BRL'}}
        </p>

        <div *ngIf="endereco">
          <input type="radio" value="20.50" name="valorFrete" [(ngModel)]="valorFrete" [defaultChecked]="true">
          <label for="" > - OPT 1 - R$ 20,50</label>
          <br>
          <input type="radio" value="21.50" name="valorFrete" [(ngModel)]="valorFrete">
          <label for="" > - OPT 2 - R$ 21,50</label>
          <br>
          <input type="radio" value="22.50" name="valorFrete" [(ngModel)]="valorFrete">
          <label for="" > - OPT 3 - R$ 22,50</label>
        </div>

      </div>
    </div>
  </div> -->



  <div class="col-lg-4">
    <div class="card mt-5">
      <div class="card-header">
        <h4>Calculo do total</h4>
      </div>
      <div class="card-body">
        Carrinho: {{carrinho.total | currency : 'BRL'}}
        <br>
        Frete: {{+carrinho.valorFrete | currency : 'BRL' }}

        <hr>

        Total: {{((+carrinho.valorFrete) + carrinho.total) | currency : 'BRL'}}
      </div>
    </div>
  </div>

</div>


