<div>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img (click)="navegarDash()" class="logo" src="assets/img/logo.png" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="d-flex">
          <input type="search" placeholder="Encontre o brinquedo dos seus sonhos aqui!" class="buscar form-control">
        </form>

        <div class="navbar-opcoes">
          <div class="carrinho-menu">
            <fa-icon style="font-size:25px; color:white; cursor: pointer;" [icon]="faCartShopping" routerLink="/loja/carrinho"></fa-icon>

          </div>

          <a *ngIf="nomeCliente" class="btn" routerLink="/loja/compras" style="background-color:#7f60e6">Minhas Compras</a>

          <p style="color: white;" *ngIf="nomeCliente"> <span routerLink="/loja/meu-perfil"> {{nomeCliente}} </span> | <span style="cursor: pointer;" routerLink="/login" (click)="sair()">SAIR</span> </p>

          <a *ngIf="!nomeCliente" class="btn" routerLink="/login">Criar Conta/Entrar</a>
        </div>

      </div>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
