.logo {
  width: 180px;
}

.navbar {
  background-color: #364a93;
}

header {
  background-color: #364a93;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 17vh;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}

.btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  transform: scale(1.05);
  background-color: #364a93;
  color: white;
}

.buscar {
  width: 350px;
}

.navbar-collapse {
  justify-content: space-around;
}

.navbar-opcoes {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

@media (max-width: 990px) {
  .navbar-opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
