<div class="pagina">
  <Header>

              <img (click)="navegarDash()"  class="logo" src="assets/img/logo.png" alt="">
              <input type="search" placeholder="Encontre o brinquedo dos seus sonhos aqui!" class="buscar" >
              <fa-icon style="color: white; border: 1px solid white; padding: 5px; border-radius: 5px" [icon]="faCartShopping"></fa-icon>
              <input type="button" value="Criar Conta/Entrar" class="btn" >

  </Header>

  <router-outlet></router-outlet>

</div>
