<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <h3>Produto</h3>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-lg-3">
          <div class="mb-3">
            <label for="codigo">Código:</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="produto.codigo" [disabled]="campoLiberado()">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="mb-3">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="produto.nome" [disabled]="campoLiberado()">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="mb-3">
            <label for="valor">Valor:</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="produto.valor" [disabled]="campoLiberado()">
          </div>
        </div>

        <div class="col-lg-3">
          <div class="mb-3">
            <label for="quantidade">Quantidade:</label>
            <input type="number" class="form-control form-control-sm" [(ngModel)]="produto.quantidade">
          </div>
        </div>

        <div class="col-lg-3">
          <div class="mb-3">
            <label for="avaliacao">Avaliação:</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="produto.avaliacao" [disabled]="campoLiberado()">
          </div>
        </div>

        <div class="col-lg-12">
          <div class="mb-3">
            <label for="descricao">Descrição:</label>
            <textarea name="descricao" id="descricao" class="form-control" [(ngModel)]="produto.descricao" [disabled]="campoLiberado()"></textarea>
          </div>
        </div>

        <h4 class="mt-5" *ngIf="!campoLiberado()">Imagens</h4>
        <hr>

        <div class="col-lg-6" *ngIf="!campoLiberado()">
          <input #fileInput type="file" class="form-control" (change)="inputImagemSelecionado($event)" multiple>
        </div>

        <div class="col-lg-12 images-preview">
          <div *ngFor="let file of fileList; let ii=index;" class="imagem-div">
            <button class="btn btn-danger" (click)="removerImagem(ii)">X</button>

            <img [src]="file.url" width="200px">

            <label class="form-check-label" [for]="'imgPadrao-' + ii">
              Imagem Padrão
            </label>
            <div class="form-check">
              <input #fileInput class="form-check-input" type="checkbox" [id]="'imgPadrao-' + ii" [(ngModel)]="file.imagemPadrao" (change)="imagemPadraoMudar(ii)">
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div>
          <button class="btn btn-success btn-sm" (click)="gravar()">Gravar</button>
          <button class="btn btn-danger btn-sm f-right" (click)="voltar()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
