<header>
  <h1 id="titulo">Cadastrar ou Alterar Usuário</h1>
</header>
<main>
  <div class="cima">
    <label for="campo1">Nome: </label>
    <br>
    <input type="text" class="form-control form-control-sm" [(ngModel)]="usuario.nome" />
  </div>
  <div class="cima">
    <label for="campo1">Cpf: </label>
    <br>
    <input type="text" class="form-control form-control-sm" [(ngModel)]="usuario.cpf" />
  </div>
  <div class="baixo">
    <label for="campo2">Email: </label>
    <br>
    <input type="text" class="form-control form-control-sm" [(ngModel)]="usuario.email" [disabled]="!!idRegistro">
  </div>
  <div class="baixo">
    <label for="campo2">Senha 2: </label>
    <br>
    <input type="password" class="form-control form-control-sm" [(ngModel)]="usuario.senha">
  </div>
  <div class="baixo">
    <label for="campo2">Confirmar Senha: </label>
    <input type="password" class="form-control form-control-sm" [(ngModel)]="usuario.confirmarSenha">
  </div>
  <div class="baixo">
    <label>Usuario Tipo: </label>
    <br>
    <select class="form-select form-control-sm" [(ngModel)]="usuario.usuario_tipo_id">
      <option [ngValue]="null">Selecione</option>
      <option [ngValue]="1">Admin</option>
      <option [ngValue]="2">Estoquista</option>
    </select>
  </div>

  <div class="baixo">
    <label for="ativo">Ativo: </label>
    <br>
    <input id="ativo" type="checkbox" [(ngModel)]="usuario.ativo">
  </div>

  <div class="mt-3 mb-2">
    <button class="btn btn-sm btn-primary " type="button" (click)="gravar()">Ok</button>
  </div>
  <button class="btn btn-sm btn-info" style="margin-right: 20px;" type="button" (click)="cancelar()">Cancelar</button>
</main>