<header>
  <h1 id="titulo">Cadastrar ou Alterar Usuário</h1>
</header>
<main>
  <div class="cima">
    <label for="campo1">Campo 1: </label>
    <input type="text" id="campo1">
  </div>
  <div class="baixo">
    <label for="campo2">Campo 2: </label>
    <input type="text" id="campo2">
  </div>
  <button id="button" type="button" onclick="Evento()">Ok</button>
  <script>
    function Evento() {
      alert('evento funcionando')
    }
  </script>
  <button id="button" type="button" onclick="Evento()">Cancelar</button>
  <script>
    function Evento() {
      alert('evento funcionando')
    }
  </script>
</main>